.main_content_div {
  background: url("/images/blu_stripes.png");
  font-family: "Raleway", Verdana;
}

p {
  font-family:'Raleway';
}

body {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font: 14px 'Raleway', Helvetica, Arial, sans-serif;
  background: url("/images/whirlpool.png");
}

a {
  color: #00B7FF;
}

.covid-safety {
  font-family: 'Raleway', Verdana, Helvetica, sans-serif;
  font-size:16px;
  text-align: left;
  padding-left: 35%;
  font-weight: bold;
}

#main > p {
  font-family: 'Raleway', Verdana, Helvetica, sans-serif;
  font-size:16px;
}

header {
  overflow: hidden;
  background-color: #2F80B5 ;
  padding-bottom: 10px;
}


.headerimg {
  width: 95%;
  margin: auto;
  text-align:center;
  top:60px;
  position:absolute;
}

#himg {
  width: 600px;
  height: 150px;
  margin-left:auto;
  z-index:-2;
}

header a:hover {
  color: white;
}

#logo {
   padding-left: 15px;
   width: 100px;
   height: 100px;
}

#logo-text {
  font-size: 15px;
  padding-left: 10px;
  font-weight: bold;
  color: white;
}

.homepage-heading {
  font-family: 'Raleway', Verdana, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}


/*Footer Content*/

footer {
	width: 100%;
	/*
  left: 0;
	bottom: 0;
	*/
	display: flex;
	flex: 2 1 auto;
	flex-wrap: wrap;
	align-items: center;
	height: 125px;
	box-sizing: border-box;
	background-color:#2F80B5;
	color: black;
	text-align: center;
}


footer a:hover {
  color: white;
}

.fa {
  padding: 20px;
  font-size: 25px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.faqs {
  display: block;
  flex: 1 0 auto;
}

.faqs > a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.about_us {
  display: block;
  flex: 1 0 auto;
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.about_us > a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}


.socials {
  display: block;
  flex: 1 0 auto;
}


/*End of Footer Content*/

/*Formatting divs and buttons on the check in page*/


.column {
  float: left;
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-sizing: border-box;


}

.row::after {
  content: "";
  clear: both;
  display: table;
    box-sizing: border-box;
}

.column2 {
  float: left;
  width: 33%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-sizing: border-box;
}


.dashbutton {
  border-radius: 12px;
  opacity: 0.9;
}

.dashbutton:hover {
  opacity: 1;
}

.buttoncaption {
  font-family: 'Raleway',verdana;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}


/*CHECK IN POPUP CSS*/

.form-popup {
  text-align: center;
  display: none;
  position: fixed;
  left: 35.5%;
  top: 33%;
  border: 4px solid black;
}
.form-container {
  Height: 300px;
  width: 600px;
  padding: 10px;
  background-color: white;
}

.form-container input {
  border-style: solid;
  border-color: darkgrey;
  border-radius: 8px;
  background: #F5F5F5;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.form-container .btn {
  padding: 12px 20px;
  border: none;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  opacity: 0.8;
}
.form-container .exit {
  background-color: #6BB4D4;
}

/*changes that occur when the buttons in the container are hovered*/
.form-container .btn:hover {
  opacity: 1;
}

/*changes that occur when the input is clicked*/
.form-container input:focus {
  background-color: #D6D6D6;
  outline: none;
  border-color: darkblue;
  border-width: 3px;

}

/* Styling the notifications div */
#notifications {
  display: flex;
  justify-content: center;
  text-align: center;
}

#notifications-heading {
  text-align: center;
  border-top: 5px solid #add8e6;;
  border-bottom: 5px solid #add8e6;
  font-size: 350%;
  font-weight: bold;
}

/* Create notifications container */
.notif_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the default checkbox */
.notif_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* create custom checkmark */
.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* grey out checkbox upon mouse hover */
.notif_container:hover input ~ .check {
  background-color: #ccc;
}

/* when checked, color the checkbox */
.notif_container input:checked ~ .check {
  background-color: #0080ff;
}

/* hiding checkmark when not checked */
.check:after {
  content: "";
  position: absolute;
  display: none;
}

/* show checkmark when checked */
.notif_container input:checked ~ .check:after {
  display: block;
}

.notif_container .check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=submit] {
  background-color: #7EC8E3;
  color: black;
  font-size: 150%;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 10px 2px 20px 2px;
  cursor: pointer;
}

/* logout CSS */

.header-right {
  padding-right: 40px;
  padding-top: 50px;
  float:right;
}

.button {
  border-radius: 100px;
  background-color:#2F80B5;
  border-color: white;
  border-width: medium;
  color: white;
  font-weight:bold;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  display: inline-block;
  font-family: 'Raleway', verdana;
  position: relative;
  transition: 0.5s;
}

.out span:after {
  content: '\2718';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:active {
  opacity: 0.5;
}

/* Pop Up Content */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Pop Up Box */
.modal-content {
  padding: 30px;
  border: 3px solid #f1f1f1;
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close Button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Full-width inputs */
.popinput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Pop Up Buttons */
#popbtn {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

/* Pop Up Buttons Hover */
#popbtn:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button */
.closebtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.loginbtn {
  background-color: #2F80B5;
  width: 25%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

/* Adds padding to the containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
.psw {
  float: right;
  padding-top: 16px;
}

.popTitle {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Navigation Style Start */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #deeafc;
}

ul.breadcrumb li {
  display: inline;
  font-weight: bold;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  font-weight:bold;
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* Navigation Style End */
